<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'BOOKMARKS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-bookmark [item]="bookmark" *ngFor="let bookmark of bookmarks"></app-bookmark>
  <ion-infinite-scroll class="ion-margin-top" threshold="100px" (ionInfinite)="loadMoreBookmarks($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>