<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'BOOKMARKS_OF_FOLDER' | translate }} <span *ngIf="folder">"{{ folder?.name }}"</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-loading [hidden]="!isLoading"></app-loading>
  <app-bookmark [item]="bookmark" *ngFor="let bookmark of bookmarks"></app-bookmark>
  <app-no-results *ngIf="bookmarks?.length === 0 && !isLoading"></app-no-results>
  <ion-infinite-scroll class="ion-margin-top" threshold="100px" (ionInfinite)="loadMoreBookmarks($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>