<ion-item lines="none" [style.border-color]="item?.color ? item?.color : itemDefaultBorderColor">
  <ion-label>
    <h2 class="title ion-text-wrap">{{ item?.title }}</h2>
    <p class="subtitle ion-text-wrap" [hidden]="!item?.note">{{ item?.note }}</p>
    <a class="link ion-text-wrap" (click)="openLink(item?.url)" (press)="copyLink(item?.url)">{{ item?.url }}</a>
    <p class="created_at ion-text-wrap">{{ item?.created_at | amLocale: langService.currentLang | amTimeAgo }}</p>
    <ion-img [src]="item?.url" class="loaded-image"
      *ngIf="utilitiesService && utilitiesService?.isImage(item?.url) && optionsService?.enable_multimedia" (click)="viewImage()">
    </ion-img>
    <iframe height="315" class="loaded-youtube-video"
      [src]="'https://www.youtube.com/embed/' + utilitiesService?.getYoutubeVideoId(item?.url) | safe: 'resourceUrl'"
      *ngIf="utilitiesService && utilitiesService?.getYoutubeVideoId(item?.url) && optionsService?.enable_multimedia">
    </iframe>
  </ion-label>
  <ion-button class="options ion-align-self-baseline" color="dark" fill="clear" shape="round" slot="end"
    (click)="showPopover($event, item)">
    <ion-icon name="ellipsis-vertical"></ion-icon>
  </ion-button>
</ion-item>