ion-item {
    border: 1px solid;
    margin-top: 16px;
}

.title {
    font-size: 18px;
}

.link {
    display: block;
    color: #0653AD;
    margin: 14px 0;
}

.created_at {
    color: #949494;
    &::first-letter {
        text-transform: uppercase;
    }
}

.loaded-image {
    margin-top: 14px;
}

.loaded-video {
    max-width: 100%;
    margin-top: 14px;
}

.options {
    font-size: 14px;
    margin-right: -12px;
}