<ion-content>
  <ion-text color="secondary" class="title ion-text-center">
    <h1>storybookmarks</h1>
  </ion-text>
  <ion-slides pager="true">
    <ion-slide>
      <div class="img-group">
        <img src="assets/imgs/tutorial/laptop.png" class="laptop">
        <img src="assets/imgs/tutorial/phone.png" class="phone">
      </div>
      <ion-text color="secondary">
        <h4>{{SAVE_YOUR_BOOKMARKS_ONLINE | translate}}</h4>
      </ion-text>
    </ion-slide>
    <ion-slide>Slide 2</ion-slide>
    <ion-slide>Slide 3</ion-slide>
    <ion-slide>Slide 4</ion-slide>
  </ion-slides>
</ion-content>