ion-content {
    --background: var(--ion-color-primary);
}

.title {
    width: 100%;
    position: absolute;
    top: 12vh;
    h1 {
        margin: 0;
        font-size: 2.2rem;
    }
}

ion-slides {
    height: 95%;
    --bullet-background-active: var(--ion-color-secondary);
}

ion-slide {
    flex-direction: column;
    .img-group {
        width: 100%;
        position: relative;
        .laptop {
            position: absolute;
            top: 25%;
            left: 10%;
            max-width: 60%;
        }
        .phone {
            position: relative;
            left: 20%;
            max-width: 128px;
        }
    }
    .subtitle {
        position: relative;
        top: 10%;
        h3 {
            margin: 8px 0;
        }
    }
    .img-security, 
    .img-share,
    .img-open-source {
        max-width: 128px;
        margin-top: 25%;
    }
    .subtitle-security, 
    .subtitle-share,
    .subtitle-open-source {
        margin-top: 10%;
    }
}

.button-footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}