<ion-content>
  <div class="select-language">
    <ion-button color="primary" fill="clear" *ngIf="translateService?.currentLang == 'es'" (click)="changeLang('en')">
      <img loading="lazy" src="assets/imgs/uk.png" width="32" height="32">
    </ion-button>
    <ion-button color="primary" fill="clear" *ngIf="translateService?.currentLang == 'en'" (click)="changeLang('es')">
      <img loading="lazy" src="assets/imgs/spain.png" width="32" height="32">
    </ion-button>
  </div>
  <ion-text color="secondary" class="title ion-text-center">
    <h1>storybookmarks</h1>
  </ion-text>
  <ion-slides pager="true">
    <ion-slide>
      <div class="img-group ion-margin-top">
        <img loading="lazy" src="assets/imgs/tutorial/laptop.png" class="laptop">
        <img loading="lazy" src="assets/imgs/tutorial/phone.png" class="phone" width="354" height="672">
      </div>
      <ion-text color="secondary" class="subtitle">
        <h3>{{'SAVE_YOUR_BOOKMARKS_ONLINE' | translate}}</h3>
        <h3>{{'AND_SHARE_IT' | translate}}</h3>
      </ion-text>
    </ion-slide>
    <ion-slide>
      <img loading="lazy" src="assets/imgs/tutorial/security.png" class="img-security" width="414" height="429">
      <ion-text color="secondary" class="subtitle-security ion-padding">
        <h2>{{'SECURITY' | translate}}</h2>
        <h4>{{'THE_MARKERS_YOU_KEEP_WILL_BE_SAFE_AND_PRIVATE_IF_YOU_WISH' | translate}}</h4>
      </ion-text>
    </ion-slide>
    <ion-slide>
      <img loading="lazy" src="assets/imgs/tutorial/share.png" class="img-share" width="414" height="429">
      <ion-text color="secondary" class="subtitle-share ion-padding">
        <h2>{{'SHARE' | translate}}</h2>
        <h4>{{'YOU_CAN_PUBLICLY_SHARE_THE_BOOKMARKS_YOU_WANT' | translate}}</h4>
      </ion-text>
    </ion-slide>
    <ion-slide>
      <img loading="lazy" src="assets/imgs/tutorial/open_source.png" class="img-open-source" width="450" height="420">
      <ion-text color="secondary" class="subtitle-open-source ion-padding">
        <h2>{{'OPEN_SOURCE' | translate}}</h2>
        <h4>{{'ARE_YOU_A_DEVELOPER_YOU_CAN_CONTRIBUTE_TO_THE_PROJECT_BY_IMPROVING_ITS_SOURCE_CODE' | translate}}</h4>
      </ion-text>
    </ion-slide>
  </ion-slides>
  <div class="button-footer">
    <ion-button class="ion-text-uppercase" color="secondary" fill="clear" routerLink="/login" routerDirection="root">{{'SKIP' | translate}}</ion-button>
  </div>
</ion-content>