.change-lang-button {
    img {
        max-width: 36px;
    }
}

.description, .warning {
    color: #6C757D;
}

.save-button {
    font-size: 18px;
    --font-size: 18px;
    margin: 24px 5vw;
    --ion-color-primary-contrast: var(--ion-color-secondary);
}