<ion-content>
  <div class="title-wrapper">
    <ion-text color="secondary" class="ion-text-center">
      <h1>storybookmarks</h1>
    </ion-text>
  </div>
  <div class="subtitle-wrapper">
    <ion-text color="secondary">
      <h2>{{'RECOVER_PASSWORD' | translate}}</h2>
      <p>{{'RECOVER_PASSWORD_TEXT' | translate}}</p>
    </ion-text>
  </div>
  <form class="form">
    <ion-item class="with-light-input" lines="none">
      <ion-label position="stacked">Email</ion-label>
      <ion-input clearInput type="email"></ion-input>
    </ion-item>
    <ion-button type="submit" class="clear-both recover-password-button" expand="full" color="secondary">
      {{'RECOVER_PASSWORD' | translate}}
    </ion-button>
  </form>
  <p class="ion-text-center ion-margin-bottom text-light">{{'DO_YOU_REMEMBER_YOUR_PASSWORD_YET' | translate}} <a
      class="register" class="text-secondary" routerLink="/login" routerDirection="root">{{'LOGIN' | translate}}</a>
  </p>
</ion-content>