ion-item {
    border: 1px solid;
    margin-top: 16px;
}

.name {
    font-size: 18px;
    margin-bottom: 14px;
}

.link {
    display: block;
    color: #0653AD;
    margin-bottom: 14px;
}

.created_at {
    color: #949494;
    &::first-letter {
        text-transform: uppercase;
    }
}

.options {
    font-size: 14px;
    margin-right: -12px;
}