ion-item.with-light-input {
    --background: transparent;
    color: #000000 !important;
    --color: #000000 !important;
    ion-label {
        --color: var(--ion-color-secondary) !important;
        transform: initial !important;
    }
    &.item-has-focus {
        ion-label {
            color: var(--ion-color-secondary) !important;
        }
    }
    ion-input {
        --background: #E5E5E5;
        margin-top: 12px;
        --padding-start: 12px !important;
        --padding-end: 12px;
    }
}

.clear-both {
    clear: both !important;
}