ion-item.with-light-input {
    --background: transparent;
    color: #000000 !important;
    --color: #000000 !important;
    ion-label {
        --color: var(--ion-color-secondary) !important;
        transform: initial !important;
        &.dark-label {
            --color: var(--ion-color-dark) !important;
        }
    }
    &.item-has-focus {
        ion-label {
            color: var(--ion-color-secondary) !important;
            &.dark-label {
                color: var(--ion-color-dark) !important;
                --color: var(--ion-color-dark) !important;
            }
        }
    }
    ion-input {
        --background: #e5e5e5;
        margin-top: 12px;
        --padding-start: 12px !important;
        --padding-end: 12px;
        &.light-input {
            --background: white;
            border: 1px solid #d4d4d4;
        }
    }
    ion-select {
        margin-top: 12px;
        margin-bottom: 12px;
        height: 40px;
        --background: #e5e5e5;
        --padding-start: 12px !important;
        --padding-end: 12px;
        &.light-select {
            --background: white;
            border: 1px solid #d4d4d4;
        }
    }
    ion-toggle + ion-label {
        margin-top: 8px !important;
    }
}

.clear-both {
    clear: both !important;
}

.text-secondary {
    color: var(--ion-color-secondary) !important;
}

.text-light {
    color: #f4f5f8 !important;
}

.required {
    color: var(--ion-color-danger);
}

.text-danger {
    color: var(--ion-color-danger) !important;
}

// dark mode styles

ion-content.dark {
    ion-input {
        --background: var(--ion-color-light) !important;
        --color: var(--ion-color-dark) !important;
    }
    ion-select::part(text),
    ion-select::part(icon),
    ion-datetime::part(text) {
        --color: var(--ion-color-dark);
        color: var(--ion-color-dark);
    }
}
