ion-content {
    --background: var(--ion-color-primary);
}

.title-wrapper {
    width: 100%;
    margin-top: 10vh;
    h1 {
        margin: 0;
        font-size: 2.2rem;
    }
}

.subtitle-wrapper {
    margin-top: 5vh;
    h2 {
        margin-left: 10vw;
    }
}

.form {
    padding: 0 5vw;
    margin-top: 5vh;
}

.toggle-password-mode {
    position: absolute;
    right: 16px;
    bottom: -2px;
    background: transparent;
    z-index: 99999;
    ion-icon {
        font-size: 22px;
        color: #757575;
    }
}

.toggle-password-mode:focus {
    outline: none !important;
}

.login-button {
    margin-top: 60px;
    font-size: 18px;
    --font-size: 18px;
    margin: 0 5vw;
}

.login-options-text {
    width: 80%;
    margin: auto;
    margin-top: 32px;
    text-align: center;
    border-bottom: 1px solid var(--ion-color-secondary);
    line-height: 0.1em;
    padding: 0 5vw;
    span {
        background: var(--ion-color-primary);
        padding: 0 10px;
        color: var(--ion-color-secondary);
    }
}
