<ion-content>
  <div class="title-wrapper">
    <ion-text color="secondary" class="ion-text-center">
      <h1>storybookmarks</h1>
    </ion-text>
  </div>
  <div class="subtitle-wrapper">
    <ion-text color="secondary">
      <h2>{{'LOGIN' | translate}}</h2>
    </ion-text>
  </div>
  <form class="form">
    <ion-item class="with-light-input" lines="none">
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item class="with-light-input ion-margin-top" lines="none">
      <ion-label position="stacked">{{'PASSWORD' | translate}}</ion-label>
      <ion-input type="password" #passwordInput [type]="passwordTypeInput"></ion-input>
      <button slot="end" class="toggle-password-mode" (click)="togglePasswordMode()">
        <ion-icon [name]="(passwordTypeInput === 'text') ? 'eye-off' : 'eye'"></ion-icon>
      </button>
    </ion-item>
    <a class="text-secondary ion-float-right forgot-password-button" routerLink="/forgot-password"
      routerDirection="root">{{'FORGOT_PASSWORD' | translate}}</a>
    <ion-button type="submit" class="clear-both login-button" expand="full" color="secondary">{{'LOGIN' | translate}}
    </ion-button>
  </form>
  <p class="ion-text-center text-light">{{'DONT_YOU_HAVE_AN_ACCOUNT' | translate}} <a class="text-secondary"
      routerLink="/register" routerDirection="root">{{'REGISTER' | translate}}</a>
  </p>
  <p class="login-options-text">
    <span>{{'OR' | translate}}</span>
  </p>
  <ion-button type="button" class="social-button" expand="full" color="facebook">
    {{'CONTINUE_WITH_FACEBOOK' | translate}}
  </ion-button>
  <ion-button type="button" class="social-button google" expand="full" color="light">
    {{'CONTINUE_WITH_GOOGLE' | translate}}
  </ion-button>
</ion-content>