<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" (ionDidClose)="hideUserOptions()">
      <ion-content>
        <div class="menu-header">
          <ion-text color="secondary">
            <h2 class="ion-text-center">storybookmarks</h2>
          </ion-text>
          <ion-item color="primary" lines="none" *ngIf="userService && userService?.loggedUser">
            <ion-label>
              <ion-icon name="person"></ion-icon>
              {{ 'HI' | translate }}, {{ userService?.loggedUser.username }}
            </ion-label>
            <ion-button class="always-light" color="light" fill="clear" slot="end" (click)="toggleUserOptions()">
              <ion-icon [name]="showUserOptions ? 'chevron-up' : 'chevron-down'"></ion-icon>
            </ion-button>
          </ion-item>
          <div class="user-options" [hidden]="!showUserOptions">
            <ion-menu-toggle>
              <ion-item button color="primary" lines="none" routerLink="/edit-profile">
                <ion-label>
                  <ion-icon name="create"></ion-icon>
                  {{ 'EDIT_PROFILE' | translate }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-item button color="primary" lines="none" (click)="logout()">
              <ion-label>
                <ion-icon name="exit"></ion-icon>
                {{ 'LOGOUT' | translate }}
              </ion-label>
            </ion-item>
          </div>
        </div>
        <div class="divider"></div>
        <ion-menu-toggle *ngFor="let menuRoute of menuRoutes">
          <ion-item class="menu-route" color="primary" button lines="none" [routerLink]="menuRoute?.link"
            routerDirection="root">
            <ion-label>
              <ion-icon [name]="menuRoute?.icon"></ion-icon>
              {{ menuRoute?.translationKey | translate }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>