ion-content {
  --background: var(--ion-color-primary);
}

.menu-header {
  margin: 32px 16px 16px;
}

.user-options {
  width: 85%;
  margin: auto;
}

.always-light {
  --color: #f4f5f8 !important;
  color: #f4f5f8 !important;
  --ion-color-base: #f4f5f8 !important
}

.divider {
  width: 100%;
  height: 1px;
  background: white;
  margin-bottom: 16px;
}

.menu-route {
  margin-bottom: 8px;
  ion-label {
    color: var(--ion-color-secondary);
    --color: var(--ion-color-secondary);
    font-size: 18px;
    --font-size: 18px;
    ion-icon {
      margin: 0 8px;
    }
  }
}
