ion-content {
  --background: var(--ion-color-primary);
}

.menu-header {
  margin: 32px 16px 16px;
}

.user-options {
  width: 85%;
  margin: auto;
}

.divider {
  width: 100%;
  height: 1px;
  background: white;
}