<ion-item button lines="none" (click)="openLink()">
  <ion-label>{{ openLinkText }}</ion-label>
</ion-item>
<ion-item button lines="none" (click)="copyLink()">
  <ion-label>{{ copyLinkText }}</ion-label>
</ion-item>
<ion-item button lines="none" (click)="copyPublicLink()" *ngIf="item?.public">
  <ion-label>{{ copyPublicLinkText }}</ion-label>
</ion-item>
<ion-item button lines="none" (click)="editData()">
  <ion-label>{{ editDataText }}</ion-label>
</ion-item>
<ion-item button lines="none" (click)="delete()">
  <ion-label>{{ deleteText }}</ion-label>
</ion-item>