<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'BOOKMARKS' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="warning">
    <u>{{ 'WARNING' | translate }}</u>: {{ 'WARNING_TEXT' | translate }}
  </p>
  <ion-item lines="none">
    <ion-label>Ordenar por:</ion-label>
    <ion-select interface="action-sheet" [cancelText]="'CANCEL' | translate" [(ngModel)]="bookmarksOrder">
      <ion-select-option value="default">Defecto (más nuevo a más antiguo)</ion-select-option>
      <ion-select-option value="oldest_to_lowest">Más antiguo a más nuevo</ion-select-option>
      <ion-select-option value="a_to_z">De la A a la Z</ion-select-option>
      <ion-select-option value="z_to_a">De la Z a la A</ion-select-option>
    </ion-select>
  </ion-item>
  <app-bookmark [item]="bookmark" *ngFor="let bookmark of bookmarks"></app-bookmark>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>