<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar [placeholder]="'SEARCH' | translate" showCancelButton="always" cancelButtonIcon="close"
      clearIcon="trash" enterkeyhint="search" [hidden]="!isSearching" (ionInput)="search($event)"
      (ionCancel)="hideSearchbar()"></ion-searchbar>
    <ion-title [hidden]="isSearching">{{ 'BOOKMARKS' | translate }}</ion-title>
    <ion-buttons [hidden]="isSearching" slot="end">
      <ion-button (click)="showSearchbar()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="main-content" [hidden]="isSearching">
    <p class="warning">
      <u>{{ 'WARNING' | translate }}</u>: {{ 'WARNING_TEXT' | translate }}
    </p>
    <ion-item lines="none">
      <ion-label>{{ 'ORDER_BY' | translate }}:</ion-label>
      <ion-select interface="action-sheet" [cancelText]="'CANCEL' | translate" [(ngModel)]="bookmarksOrder">
        <ion-select-option value="default">{{ 'ORDER_BY_DEFAULT_BOOKMARKS' | translate }}</ion-select-option>
        <ion-select-option value="oldest_to_lowest">{{ 'ORDER_BY_OLDEST_BOOKMARKS' | translate }}</ion-select-option>
        <ion-select-option value="a_to_z">{{ 'A_TO_Z' | translate}}</ion-select-option>
        <ion-select-option value="z_to_a">{{ 'Z_TO_A' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
    <app-bookmark [item]="bookmark" *ngFor="let bookmark of bookmarksService?.bookmarks"></app-bookmark>
    <ion-infinite-scroll class="ion-margin-top" threshold="100px" (ionInfinite)="loadMoreBookmarks($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <app-search-results [query]="searchTerm" [hidden]="!isSearching"></app-search-results>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [hidden]="isSearching">
    <ion-fab-button color="primary" routerLink="/bookmarks/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>