<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'EDIT_PROFILE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [class.dark]="optionsService?.enable_dark_mode">
  <form [formGroup]="form" *ngIf="form" (ngSubmit)="submitForm()">
    <ion-item class="with-light-input ion-margin-top" lines="none">
      <ion-label class="dark-label" position="stacked">{{ 'USER' | translate }}</ion-label>
      <ion-input clearInput class="light-input" type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item class="with-light-input ion-margin-top" lines="none">
      <ion-label class="dark-label" position="stacked">Email</ion-label>
      <ion-input clearInput class="light-input" type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item class="with-light-input ion-margin-top" lines="none">
      <ion-label class="dark-label" position="stacked">{{ 'PASSWORD' | translate }}</ion-label>
      <ion-input clearInput class="light-input" type="password" [placeholder]="'LEAVE_PASSWORD_EMPTY' | translate" formControlName="password"></ion-input>
    </ion-item>
    <ion-item class="with-light-input ion-margin-top" lines="none">
      <ion-label class="dark-label" position="stacked">{{ 'REPEAT_PASSWORD' | translate }}</ion-label>
      <ion-input clearInput class="light-input" type="password" [placeholder]="'LEAVE_PASSWORD_EMPTY' | translate" formControlName="password_confirmation"></ion-input>
    </ion-item>
    <ion-button type="submit" class="clear-both save-button" expand="full" color="primary" [disabled]="!form.valid">
      {{'SAVE' | translate}}
    </ion-button>
  </form>
</ion-content>